
<div style="width: 100%;  position: relative; background: #E6E6E6">
  <div style="width: 100%; ; left: 0px; top: 0px; position: absolute">
    <img style="width: 100%;  left: 0px; top: 0px; position: absolute" src="assets/image-1.png" />
    <div style="width: 427.71px; height: 362px; left: 406px; top: 131px; position: absolute; background: white; border-radius: 10px; border: 1px #595854 solid">


    </div>
    <div style="width: 304.97px; height: 91.74px; left: 467.99px; top: 276.05px; position: absolute">
      <div style="width: 304.97px; height: 59.51px; left: -0px; top: 32.23px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px #CFC7C2 solid">
        <input style="width: 304.973px;height: 59.507px;flex-shrink: 0;" [(ngModel)]="searchInput" placeholder="Search by ID or name" />

      </div>
      <div style="width: 188.44px; height: 23.55px; left: 0px; top: 0px; position: absolute; color: #767676; font-size: 16px; font-family: Roboto; font-weight: 700; word-wrap: break-word">Pokemon Name or Id</div>
    </div>
    <img style="width: 94.22px; height: 92.98px; left: 573.36px; top: 166.95px; position: absolute" src="assets/pokeball.png" />
    <div style="width: 116.53px; height: 44.63px; left: 467.99px; top: 402.50px; position: absolute">
      <div style="width: 116.53px; height: 44.63px; left: 0px; top: 0px; position: absolute; background: #FE5858; border-radius: 5px"></div>
      <div style="width: 63.23px; height: 23.55px; left: 27.27px; top: 9.92px; position: absolute; color: white; font-size: 16px; font-family: Roboto; font-weight: 700; word-wrap: break-word" (click)="searchPokemon()">Search</div>
    </div>
    <div style="width: 116.53px; height: 44.63px; left: 656.42px; top: 402.50px; position: absolute">
      <div style="width: 116.53px; height: 44.63px; left: 0px; top: 0px; position: absolute; background: #FE5858; border-radius: 5px"></div>
      <div style="width: 74.38px; height: 23.55px; left: 21.58px; top: 10.50px; position: absolute; color: white; font-size: 16px; font-family: Roboto; font-weight: 700; word-wrap: break-word"  (click)="goToRandomPokemon()">Random</div>
    </div>
  </div>
</div>
